body {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    position: relative;
    left: 0;
    top: -15px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #cccccc;
}
nav {
    float: right;
    margin-top: 65px;
    font-size: 20px;
}  
nav a {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
}
  
nav a:first-child {
    border-left: 0 none;
}
a:hover {
      color: red;
}
h1 {
    color: teal;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section {
    width: 960px;
    background-color: white;
    margin: auto;
    padding: 15px 25px;
    position: relative;
    top: 90px;
}
span {
    font-style: italic;
    font-family: cursive;
    font-size: 18px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}
.index_img {
    float: left;
    margin: 10px 10px 10px 0px;
}
.port_img {
    margin: 25px;
    padding-bottom: 100px;
    background-color: burlywood;
}
.bio {
    line-height: 1.5;
}
.narrow {
    padding-right: 50px;
}
.imgs {
    position: relative;
    float: left;
}
.imgtxt {
    position: absolute;
    bottom: 30px;
    background-color: teal;
    color: white;
    padding: 0px 10px;
    margin: 25px;
    text-align: center;
    width: 280px;
}
.to_clear {
    clear: both;
}
.txt {
    width: 100%;
}
.button {
    background-color: teal;
    border: none;
    color: white;
    padding: 10px 20px; 
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
#logo {
    float: left;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaa5;
}
#masthead {
    position: fixed;
    z-index: 99;
    width: 100%;
    margin: 0 0 30px;
    overflow: auto;
    color: #ffffff;
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

@media screen and (max-width: 980px) {
    .main {
      width: 900px;
      padding: 30px;
    }
  } 
@media screen and (min-width: 700px) and (max-width: 768px) {
    nav {
        font-size: 1.5em;
        position: relative;
        left: -30px;
    }
    .main {
      width: 680px;
      padding: 30px;
   }
    .imgs {
        width: 280px;
        margin: 20px;
    }
    #logo {
        position: relative;
        right: -30px;
        top: 10px;
    }
  } 
@media screen and (max-width: 640px) {
    #logo {
        width: 100%;
    }
    nav {
        float: left;
        margin-top: 1.5em;
        font-size: 1.5em;
    }
    .main {
      width: 250px;
      padding: 30px;
    }
    .index_img {
        float: none;
    }
    .imgs {
        float: none;
        position: relative;
        left: -50px;
    }
  } 